

/*garante que a rolagem em todo o site seja feita suavemente*/

html{
    scroll-behavior: smooth;
}

.content{
    width: 100%;
    overflow: clip;
}

body{
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #E3651D;
    font-family: "Overpass", sans-serif;
    box-sizing: border-box;
}

/*Top*/

.header{
    background-color:rgb(34, 34, 34);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.organization{
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: auto;
    min-height: 5rem;
    align-items: center;
    flex-wrap: wrap;
    padding: 1px 0;
}
.title{
    display: flex;
    padding-left: 5.1%;
}
.title1,.title2{
    font-weight: bolder;
    color: #E3651D;
    font-size: 1.6rem;
    font-family: "Overpass", sans-serif;
}
.title2{
    color: aliceblue;
}
.header-links{
    display: flex;
    list-style-type: none;
    padding-right: 5.1%;
    padding-left: 5.1%;
    gap: clamp(10px, 1.5vw, 32px);
    font-family: "Overpass", sans-serif;

    /*removendo aqueles blocos azuls de quando vc clica no link*/

    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}
a{
    text-decoration: none;
    color: none;
}
a:hover{
    color: rgb(182, 182, 182);
}
.links{
    font-weight: 140;
    color: white;
    font-size: clamp(18px, 1.2vw, 16px);
}


/*images-section*/


.banner{


    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    min-height: 100dvh;
    display: flex;

    position: relative;
    overflow: hidden;

    justify-content: flex-end;
    align-items: flex-end;
    color: #ffff;
    padding: 5% 5%;

}

.bannerimg{
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bannerimg li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;

    animation: bannerfade 20s infinite;
}


.bannerimg li.img1{

    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("images/img1.png");
    animation-delay: 0s;

    }
.bannerimg li.img2{

        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("images/img2.png");
        animation-delay: 4s;

    }
.bannerimg li.img3{
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("images/img3.png");
        animation-delay: 8s;

    }
.bannerimg li.img4{

        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("images/img4.png");
        animation-delay: 12s;

    }
.bannerimg li.img5{

        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("images/img5.png");
        animation-delay: 16s;

    }
    @keyframes bannerfade {
    0% {
        opacity: 0;
    }
    2% {
        opacity: 1;
    }
    22% {
        opacity: 1;
    }
    27% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.bannerbuttons{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 0;
    align-items: clamp(center, 10vw, flex-start);
    text-align: clamp(center, 10vw, left);
    max-width: 90%;
}

.bannerh1{
    color: white;
    font-weight: 400;
    font-size: clamp(30px, 4.5vw, 4rem);
    margin-bottom: clamp(15px, 2vw, 30px);
    word-wrap: break-word;
}

.buttonbanner{
    display: flex;
    background-color: transparent;
    border: 2px solid #ffff;
    padding: clamp(10px, 1vh, 14px) clamp(20px, 2.5vw, 32px);
    color: white;
    font-size: clamp(22px, 1.5vw, 25px);
    transition: 0.5s ease;
    justify-content: center;
    align-items: center;


    /*tirando o azul feio do botao banner*/

    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}
.buttonbanner:hover{
    background-color: #E3651D;
    border: 2px solid #E3651D;
    color: black;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
}



/*About*/

.abouttitle, .aboutdescription1, .aboutmore{
    justify-content: center;
    display: flex;
}

.aboutbox{
    background-color: white;
    height: 105vh;
     width: 100%;
}
.abouttext{
    justify-content: center;
    padding-right: 11.4%;
    padding-left: 11.4%;
    padding-bottom: 4%;
    padding-top: 2%;
    text-align: center;
      /*animation scroll*/
    animation-name: fadeIn;
    animation-fill-mode: both; /* Mantém o estado final da animação */
    animation-timeline: view(); /* Define a linha do tempo da animação para ocorrer quando o elemento estiver visível na viewport */
    animation-range: entry 40% entry 100%; /* Define o intervalo da animação para ocorrer quando o elemento estiver entre 10% e 40% visível na viewport */
}
.abouttitle{
    
    padding-top: 5rem;
    color: #939496;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 5rem;
}
.aboutdescription1, .aboutdescription2{
    color: #2b2b2b;
}
.aboutdescription1{
    font-size: clamp(24px, 3.5vw, 3rem);
    font-weight: 400;
    margin-bottom: 3rem;
    text-decoration: underline 4px solid #E3651D;

    animation: fadeIn 4s ease forwards; /*Aplica a animação de fadeIn atrasada*/

}
.aboutdescription2{
    font-size: clamp(16px, 1.5vw, 20px);
    margin-bottom: 20px;
    text-align: clamp(left, 10vw, justify);

    animation: fadeIn 5s ease forwards;
}
.aboutmore{
    justify-content: center;
}
.aboutbutton{
    margin-top: 5rem;
    font-size: clamp(14px, 1.5vw, 16px);
    padding: 14px 32px 12px 32px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #E3651D;
    margin-bottom: clamp(40px, 5vw, 80px);
    transition: 0.6s ease;

    animation: fadeIn 6s ease forwards; /*Aplica a animação de fadeIn atrasada*/
}

.aboutbutton:hover{
    background-color: #E3651D;
    color: white;
}



@keyframes fadeIn {
    from{
        opacity: 0;
        transform: translateY(8rem);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}



/*midpage*/



.midpage{
    background-color: #e3651d;
    width: 100%;
    height: 120vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.text{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.midpagetitle{
    font-size: clamp(24px, 3.5vw, 3rem);
    color: #ffffff;
    margin-top: 5rem;
    display: inline-block;
    justify-content: center;

    background-image: linear-gradient( #ffffff, #ffffff); /*Define a cor da linha*/
    background-repeat: no-repeat;
    background-size: 0% 5px;    /*Estado final 100% de largura*/
    background-position: 0 100%; /*Posiciona a linha na parte inferior do texto*/
    
    animation-name: fadeIn, underlinemidpagetitle;
    animation-duration: 9s, 7s;
    animation-fill-mode: both, forwards;
    animation-timing-function: ease, ease;

    animation-delay: 0s, 0s; 

    animation-timeline: view(), auto; /* fadeIn usa o scroll (view), underline usa tempo (auto) */
    animation-range: entry 40% entry 100%, normal; 
}
.h1midpage{
    margin: 0;
    padding: 0;
    animation: fadeIn 2s ease forwards;
    font-weight: 200; /*Aplica a animação de fadeIn atrasada*/
    font-size: clamp(32px, 5vw, 57.6px);
}
.h2midpage{
    margin: 0;
    margin-top: 1em;
    padding: 0;
    animation: fadeIn 4s ease forwards;
    font-weight: 200;
    color: #ffffff;
    font-size: clamp(22px, 2.5vw, 30px);
}

@keyframes underlinemidpagetitle {
    0% {
        background-size: 0% 5px; /*Estado inicial 0% de largura*/
        color: #ffffff; 
    }
    100% {
        background-size: 100% 5px; /*Estado final 100% de largura*/
        color: #ffffff; /*Define a cor do texto*/
    }
}

.carousel{
    margin: 0 auto;
    padding: 20px 0;
    max-width: 700px;
    overflow: hidden;
    border-radius: 15px;
    width: 100%;
    max-width: 1600px;
    z-index: 0;
    margin-top: 10rem;

    /* Aplica a máscara de gradiente para criar o efeito de fade nas bordas */

   -webkit-mask-image: linear-gradient(to right, transparent 0%, black 2%, black 98%, transparent 100%);
  mask-image: linear-gradient(to right, transparent 0%, black 2%, black 98%, transparent 100%);
}

.track{
    display: flex;
    width: max-content;
    animation: spin 15s linear infinite;
    gap: 2em;
}

.group{
    display: flex;
    gap: 2em;
    flex-shrink: 0;
}

.card{
    width: clamp(250px, 30vw, 500px); 
    
   /* mantém o objeto sempre quadrado*/
    aspect-ratio: 1 / 1; 

    background: none;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3rem;
    font-weight: bold;

    border-radius: 24px;

    flex-shrink: 0;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.card-content1,.card-content2,.card-content3,.card-content4,.card-content5,.card-content6{
    width: 100%;
    height: 100%;
     border-radius: 24px;
     background-size: cover;
    background-position: center;
}




.card-content1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("images/img1.png");
}
.card-content2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("images/img2.png");
}
.card-content3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("images/img3.png");
}
.card-content4{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("images/img4.png");
}
.card-content5{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("images/img5.png");
}
.card-content6{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("images/img6.png");
}


/*imagedescription*/




.imagedescription{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    width: 100%;
    padding-bottom: 10%;


    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}


.scene1{
    background-image: url("images/scene11.png");
}



.imagedescriptiontextcontent{
    display: flex;
    flex-direction: column;
    gap: clamp(2rem, 6vw, 10rem);
    width: 100%;
    height: 100%;
    color: #ffffff;
    justify-content: end;
    align-items: end;
    padding-right: 4%;
    padding-bottom: 15%;
    
    
    
}

.imagedescriptiontextcontent2{
    display: flex;
    flex-direction: column;
    gap: clamp(2rem, 6vw, 10rem);
    width: 100%;
    height: 100%;
    color: #ffffff;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 4%;
    padding-bottom: 15%;
}

.titledescription, .titledescription2{
    display: flex;
    max-width: 500px;
    width: min(90%, 500px);
    height: 100%;
    padding-left: 6%;
    padding-top: 2%;

}
.title1description, .title3description{
    font-size: clamp(24px, 4vw, 42px);
    line-height: 1.1;
    color: #ffffff;
    
}
.sectiondescription{
    display: flex;
    flex-direction: column;
    max-width: 380px;
    text-align: right;


}
.title2description, .title2description2{
    font-size: clamp(20px, 3vw, 28px);
    font-weight: 300;
    padding-bottom: 0.5rem;
}
.descriptionimage, .descriptionimage2{
  font-size: clamp(16px, 2vw, 20px);
  font-weight: 300;

}



/*imagedescription2*/




.imagedescription2{
     display: flex;
    height: 100vh;

    position: relative;
    min-height: 100vh;
    overflow: hidden;
}
.imagedescription22{
    width: 100%;
    height: 55%;

}

.title3description{
    margin: 0;
    padding-top: 2%;
}
.sectiondescription2{
    padding-top: 2%;
}

.scene2{
    position: absolute;
    height: 100%;
    
    right: 0;
    top: 0;

    object-fit: contain;
    object-position: right center;

    width: clamp(500px, 80vw, 1300px);
    z-index: -1;
}



.sectiondescription2{
    display: flex;
    flex-direction: column;
    max-width: 380px;
    text-align: left;
    color: #ffffff;
    padding-left: 7%;
    
}



/*final contact*/




.contact{
    background: linear-gradient(to top, #1a1a1a, #E3651D );
    height: 100vh;
    width: 100%;
}
.contactus{
    font-weight: 200;
    margin-top: 5rem;
    font-size: clamp(1.30rem, 5vw, 3.75rem);
    animation: fadeIn 7s ease forwards;
    color: #ffffff;
    
}
.groupcontact{
    display: flex;
    gap: clamp(1.5em, 5vw, 8em); 
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    animation: fadeIn 2s ease forwards;
}
.cardcontact1,.cardcontact2, .cardcontact3{
    display: flex;
    align-items: center;
    width: 300px;
    border-radius: 20px;
    margin-bottom: 10rem;
    background-image: linear-gradient(to right, #93949659, #93949633);
     aspect-ratio: 1 / 1;
     transition: box-shadow 0.5s ease; 


     /*removendo aquele bloco azul quando clica no link*/

    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent

}
.cardcontact2{
    animation: fadeIn 4s ease forwards;
}
.cardcontact3{
    animation: fadeIn 6s ease forwards;
}
.cardcontact1:hover,.cardcontact2:hover, .cardcontact3:hover{
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);

}
.boxcontact,.boxcontact2{
    height: 40px;
    width: 40px;
}
.boxcontact3{
    height: 35px;
    width: 35px;
}
.text1contact,.text2contact,.text3contact{
    color: #ffffff;
}
.textdescriptioncontact1, .textdescriptioncontact2, .textdescriptioncontact3{
    margin-left: 3rem;
    color: #ffffff;
}
.description2contact{
    max-width: 80%;
}

.linkcontact{

    /* o link ocupa todo o espaço disponível com display block*/
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}





@media (max-width: 475px){

    .content{
        font-weight: 500;
    }
    .bannerh1{
        font-size: 40px;
    }


    .title{
        margin-top: 1rem;
    }
    .aboutdescription2{
        font-size: 18px;
    }


    .header-links{
        width: 100%;
        justify-content: center;
        gap: 30px;
    }
    .contact{
        height: auto;
    }
    .groupcontact{
        flex-direction: column;
        gap: 1rem;
        justify-content: flex-start;
        margin-top: 90px;
    }
    .cardcontact1,.cardcontact2, .cardcontact3{
        width: 90%;
        height: 190px;
        margin-bottom: 30px;
    }
    .boxcontact,.boxcontact2{
        height: 25px;
        width: 25px;
    }
    .description2contact{
        margin-bottom: 40px;
    }

    .boxcontact{
        margin-top: 55px;
    }
    .boxcontact2{
        margin-top: 45px;
    }
    .boxcontact3{
        margin-top: 25px;
        height: 20px;
        width: 20px;
    }
    .textdescriptioncontact1, .textdescriptioncontact2, .textdescriptioncontact3{

        font-size: 15px;
        width: 70%;
    }

    .textanddescription1{
        margin-bottom: 60px;
    }





    /* imagedescription*/

    .scene2{

        width: 500px;
        top: -19vw;
        right: 7.2%;

    
    }
    .sectiondescription2{
        padding-top: 10%;
    }
    .imagedescription22{
    width: 100%;
    height: 60%;

}
}



@keyframes spin{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-50% - .5em));
    }
}