

/*garante que a rolagem em todo o site seja feita suavemente*/

html{
    scroll-behavior: smooth;
}

.content{
    width: 100%;
    overflow-x: hidden;
}

body{
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
    font-family: "Overpass", sans-serif;
    box-sizing: border-box;
}

/*Top*/

.header{
    background-color:rgb(34, 34, 34);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
}
.organization{
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: auto;
    min-height: 5rem;
    align-items: center;
    flex-wrap: wrap;
    padding: 1px 0;
}
.title{
    display: flex;
    padding-left: 5.1%;
}
.title1,.title2{
    font-weight: bolder;
    color: #E3651D;
    font-size: 1.6rem;
    font-family: "Overpass", sans-serif;
}
.title2{
    color: aliceblue;
}
.header-links{
    display: flex;
    list-style-type: none;
    padding-right: 5.1%;
    padding-left: 5.1%;
    gap: clamp(10px, 1.5vw, 32px);
    font-family: "Overpass", sans-serif;
}
a{
    text-decoration: none;
    color: none;
}
a:hover{
    color: rgb(182, 182, 182);
}
.links{
    font-weight: 140;
    color: white;
    font-size: clamp(15px, 1.2vw, 16px);
}


/*images-section*/


.banner{


    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    height: 90vh;
    display: flex;

    position: relative;
    overflow: hidden;

    justify-content: flex-end;
    align-items: flex-end;
    color: #ffff;
    padding: 5% 5%;

}

.bannerimg{
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bannerimg li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;

    animation: bannerfade 20s infinite;
}


.bannerimg li.img1{

    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("images/img1.png");
    animation-delay: 0s;

    }
.bannerimg li.img2{

        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("images/img2.png");
        animation-delay: 4s;

    }
.bannerimg li.img3{
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("images/img3.png");
        animation-delay: 8s;

    }
.bannerimg li.img4{

        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("images/img4.png");
        animation-delay: 12s;

    }
.bannerimg li.img5{

        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("images/img5.png");
        animation-delay: 16s;

    }
    @keyframes bannerfade {
    0% {
        opacity: 0;
    }
    2% {
        opacity: 1;
    }
    22% {
        opacity: 1;
    }
    27% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.bannerbuttons{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 0;
    align-items: clamp(center, 10vw, flex-start);
    text-align: clamp(center, 10vw, left);
    max-width: 90%;
}
h1{
    color: white;
    font-weight: 400;
    font-size: clamp(30px, 4.5vw, 4rem);
    margin-bottom: clamp(15px, 2vw, 30px);
    word-wrap: break-word;
}
.buttonbanner{
    display: flex;
    background-color: transparent;
    border: 2px solid #ffff;
    padding: clamp(10px, 1vh, 14px) clamp(20px, 2.5vw, 32px);
    color: white;
    font-size: clamp(16px, 1.5vw, 20px);
    transition: 0.5s ease;
    justify-content: center;
    align-items: center;
}
.buttonbanner:hover{
    background-color: #E3651D;
    border: 2px solid #E3651D;
    color: black;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
}

/*midpage*/



/*About*/

.abouttitle, .aboutdescription1, .aboutmore{
    justify-content: center;
    display: flex;
}

.aboutbox{
    background-color: white;
    height: auto;
     width: 100%;
}
.abouttext{
    justify-content: center;
    padding-right: 11.4%;
    padding-left: 11.4%;
    text-align: center;
}
.abouttitle{
    
    padding-top: 5rem;
    color: #939496;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 5rem;
}
.aboutdescription1, .aboutdescription2{
    color: #2b2b2b;
}
.aboutdescription1{
    font-size: clamp(24px, 3.5vw, 3rem);
    font-weight: 400;
    margin-bottom: 3rem;
    text-decoration: underline 5px #E3651D;
    transition: 2s ease;
}
.aboutdescription2{
    font-size: clamp(16px, 1.5vw, 20px);
    margin-bottom: 20px;
    text-align: clamp(left, 10vw, justify);
}
.aboutmore{
    justify-content: center;
}
.aboutbutton{
    margin-top: 2rem;
    font-size: clamp(14px, 1.5vw, 16px);
    padding: 14px 32px 12px 32px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #E3651D;
    margin-bottom: clamp(40px, 5vw, 80px);
    transition: 0.6s ease;
}

.aboutbutton:hover{
    background-color: #E3651D;
    color: white;
}